# Finding similar movies/tv shows using their descriptions

Created for learning purposes.

In [48]:
import numpy as np # linear algebra
import pandas as pd # data processing
import nltk # Language processing tools
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [49]:
#Load our data
netflix_data = pd.read_csv("netflix_titles.csv")

In [50]:
#Check how data looks
netflix_data

     show_id  ...                                        description
0         s1  ...  In a future where the elite inhabit an island ...
1         s2  ...  After a devastating earthquake hits Mexico Cit...
2         s3  ...  When an army recruit is found dead, his fellow...
3         s4  ...  In a postapocalyptic world, rag-doll robots hi...
4         s5  ...  A brilliant group of students become card-coun...
...      ...  ...                                                ...
7782   s7783  ...  When Lebanon's Civil War deprives Zozo of his ...
7783   s7784  ...  A scrappy but poor boy worms his way into a ty...
7784   s7785  ...  In this documentary, South African rapper Nast...
7785   s7786  ...  Dessert wizard Adriano Zumbo looks for the nex...
7786   s7787  ...  This documentary delves into the mystique behi...

[7787 rows x 12 columns]

In [51]:
#Replace index with netflix database convention
netflix_data.set_index('show_id',inplace=True)

In [52]:
#Lets first tokenize each description using nltk and list comprehesion
descriptions_tokenized = [nltk.word_tokenize(description) for description in netflix_data['description']]

In [53]:
#Check first description
descriptions_tokenized[0]

# Explanation
# desriptions_tokenized[i][j]
# i - index of description
# j - index of word in chosen description
# Example: desriptions_tokenized[14][5] - six word of fifteenth description (cause we numerate from 0)

['In',
 'a',
 'future',
 'where',
 'the',
 'elite',
 'inhabit',
 'an',
 'island',
 'paradise',
 'far',
 'from',
 'the',
 'crowded',
 'slums',
 ',',
 'you',
 'get',
 'one',
 'chance',
 'to',
 'join',
 'the',
 '3',
 '%',
 'saved',
 'from',
 'squalor',
 '.']

In [54]:
#Lets give each word unique ID, so it will be easier later to use it
#Easiest method is to create gensim dictionary which will contain all words without repetition
from gensim import corpora
dictionary = corpora.Dictionary(descriptions_tokenized)
print(dictionary)

Dictionary(21381 unique tokens: ['%', ',', '.', '3', 'In']...)

In [55]:
#We have 21381 uniqe words in out dictionary, lets check how many words we have in total. To do it we can multiplay rows length * columns length.
#We need to do it for each row and then sum it up, becuase every row has diffrent number of words
sum(len(row) for row in descriptions_tokenized)

205846

In [56]:
#If the dictionary would be huge, we could decrease number of words by deleting these with low frequency (lets say these which appear only once)
#Now we have ids for each word
dictionary.token2id['island']

15

In [57]:
#Now we can exchange all descriptions to numbers (their identifiers). It's called bag of words (bow).
descriptions_bow = [dictionary.doc2bow(description) for description in descriptions_tokenized]

In [58]:
#First number in tuple is ID of word. Second number in tuple is frequency in document number 88
descriptions_bow[89]

[(1, 1),
 (2, 1),
 (5, 1),
 (6, 2),
 (23, 2),
 (52, 1),
 (57, 1),
 (90, 1),
 (100, 2),
 (161, 1),
 (174, 1),
 (348, 1),
 (423, 1),
 (431, 1),
 (440, 1),
 (612, 1),
 (964, 1),
 (1135, 1),
 (1136, 1),
 (1137, 1),
 (1138, 1),
 (1139, 1),
 (1140, 1),
 (1141, 1),
 (1142, 1),
 (1143, 1),
 (1144, 1),
 (1145, 1)]

In [59]:
#Now we can create model which will allow us to represent documents as vectors. We need that to search for similarities using math. 
#Lets try TFidf which uses frequency for transforming
from gensim import models

# Train the tfidf model 
tfidf = models.TfidfModel(descriptions_bow)

# Transform the "shoot enemies" string to test how it works. First value is word ID and second one is tf-idf weight
words = "shoot enemies".lower().split()
print(tfidf[dictionary.doc2bow(words)])

[(2476, 0.5918280568737562), (18097, 0.8060642350936023)]

In [60]:
#Lets create spare matrix similarity
from gensim import similarities

index = similarities.SparseMatrixSimilarity(tfidf[descriptions_bow], num_features=dictionary.num_pos)

In [61]:
#Now we can use model to find similar descriptions! Lets test one of the descriptions from base. I will use La casa de papel tv series, lets find it by title to get show_id.
netflix_data[netflix_data.title.str.find("La casa") > -1]

            type  ...                                        description
show_id           ...
s3489    TV Show  ...  Eight thieves take hostages and lock themselve...

[1 rows x 11 columns]

In [62]:
descriptions_tokenized[3488]

['Eight',
 'thieves',
 'take',
 'hostages',
 'and',
 'lock',
 'themselves',
 'in',
 'the',
 'Royal',
 'Mint',
 'of',
 'Spain',
 'as',
 'a',
 'criminal',
 'mastermind',
 'manipulates',
 'the',
 'police',
 'to',
 'carry',
 'out',
 'his',
 'plan',
 '.']

In [63]:
descriptions_bow[3488]

[(2, 1),
 (5, 1),
 (22, 2),
 (23, 1),
 (37, 1),
 (57, 1),
 (73, 1),
 (77, 1),
 (100, 1),
 (610, 1),
 (983, 1),
 (1097, 1),
 (1332, 1),
 (1536, 1),
 (1766, 1),
 (1991, 1),
 (2402, 1),
 (3614, 1),
 (4206, 1),
 (6918, 1),
 (8125, 1),
 (9307, 1),
 (13759, 1),
 (13760, 1),
 (13761, 1)]

In [64]:
#Get query bag of words and tfidf model representation
query_bow = descriptions_bow[3488]
query_tfidf = tfidf[query_bow]

In [65]:
#Get similarity list
sims = index[query_tfidf]

In [66]:
#Lets sort them and check first 15 titles similar to La casa de papel
sorted_similar = sorted(enumerate(sims), key=lambda x: x[1], reverse=True)
for document_number, score in sorted_similar[:15]:
    print(document_number, netflix_data.iloc[document_number].title, score)

3488 La casa de papel 1.0
1134 Bullet Head 0.17674914
7381 V.R. Troopers 0.16174424
1453 Coin Heist 0.14132012
6249 The Crew 0.12991296
4870 Pizza, birra, faso 0.12717776
4950 Power Rangers Time Force 0.12639105
6307 The Do-Over 0.12385647
1808 Don 2 0.12192322
4799 Paul Blart: Mall Cop 0.11928776
373 Albert Pinto Ko Gussa Kyun Aata Hai? 0.118616186
3012 Inside Man: Most Wanted 0.114272796
4150 Mission of Honor 0.108038306
4453 New York Minute 0.10540801
5000 Pukar 0.10424699

In [67]:
#Lets check 3 highest scored films descriptions to check if its somehow similar to La casa de papel description. As you can see La casa de papel similarity is 1.0 because its equal to query.
for document_number, score in sorted_similar[0:4]:
   print(netflix_data.iloc[document_number].title)
   print(netflix_data.iloc[document_number].description + "\n")

La casa de papel
Eight thieves take hostages and lock themselves in the Royal Mint of Spain as a criminal mastermind manipulates the police to carry out his plan.

Bullet Head
After a daring heist, three fugitives lock themselves in a warehouse hoping to evade the police, but find a worse threat as they fight to stay alive.

V.R. Troopers
Three friends who study martial arts find themselves defending humanity from a criminal mastermind and his invading army from another dimension.

Coin Heist
When a crisis threatens to destroy their high school, four teens hatch a daring plan to raise $10 million. Step one? Breaking into the U.S. Mint.